<%- include('partials/header.ejs')%>
 <%- include('partials/homenavbar.ejs')%>

<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">
      This is a simple hero unit, a simple jumbotron-style component for calling
      extra attention to featured content or information.
    </p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <%articles.forEach(article=>{%>
  <div class="cards">
    <div class="card-header">
      <h2><%=article.title%></h2>
    </div>

    <div class="card-body">
      <a
        href="/<%=article.slug%>"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-success"
        >Ler artigo</a
      >
    </div>

    <br />
  </div>
  <%})%>
  <div class="row">
    <div class="col col-12 ">
      <a href="/articles/page/1" class="float-right">Next>>></a>
    </div>
 
  </div>
</div>


<%- include('partials/footer.ejs')%>
